/*
 * simple stylesheet for "Dylan Programming Guide"
 *
 * this stylesheet isn't really fancy but it does the job
 * to produce a more or less readable page.
 */


body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	background-color: #dddddd;
	color: black;
}

img {
	border-width: 0px;
}

ul {
	list-style-type: square;
}

li > ul {
	list-style-type: disc;
}

div {
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;

	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
	background-color: white;

	border-style: solid;
	border-color: white;
	border-width: 1px;
}

div.footer {
	padding-top: 2em;
	padding-bottom: 1em;
	margin-bottom: 0px;
	display: none;
}

div.copyright
{
	margin-top: 0px;
	font-size: 75%;
	font-style: italic;
}

div.navigation p {
	margin: 10px;
	padding: 0;
}

div.toc {
}

/*
 * Tables
 *
 * Make tables look as they do in the book
 */

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	caption-side: bottom;

	border-width: 1px;
	border-style: solid;
	border-color: black;
	
	border-spacing: 0 2em;
}

th {
	border-style: none;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;

	padding-left: 1em;
	padding-right: 1em;
}


td {
	border-width: 0;
	border-style: none;

	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
}

td pre {
	font-family: monospace;
	font-weight: bold;
	padding: 0;
	margin: 0.5em;
}


td pre em {
	font-family: monospace;
	font-weight: normal;
	font-style: italic;
}

table p {
	margin: 0px;
	padding: 0px;
}

code, pre {
	font-weight: bold;
	font-family: monospace;
}

