body {
	margin-left: 20px;
	margin-right: 20px;

	background-color: white;
	color: black;
}

img { border-width: 0px; }
ul { list-style-type: square }
li > ul { list-style-type: disc; }


div {
	margin: 20px;
	padding: 10px;
	background-color: #dddddd;
}

