Source: libopengl-dylan
Section: graphics
Priority: optional
Maintainer: Brent A. Fulgham <bfulgham@debian.org>
Standards-Version: 3.5.9
Build-Depends: sharutils, perl-base, perl5, debhelper, libtool, xlibmesa-gl-dev, xlibmesa-glu-dev, xlibosmesa-dev

Package: libopengl-dylan
Architecture: any
Depends: ${shlibs:Depends}
Recommends: gwydion-dylan-dev
Description: Support for OpenGL in Gwydion Dylan (Native)
 This package provides a native binding to the OpenGL API via
 Gwydion Dylan.

