<?xml version = "1.0"?>
<koala>
  <listener address = "0.0.0.0" port = "8000"/>
  <listener address = "0.0.0.0" port = "8443" ssl = "yes"
            certificate = "certificate.pem"
            key = "key.pem"
            />
  <debug-server value = "off" />

  <!-- dev mode makes DSP check for modified templates and reparse them. -->
  <development-mode enabled = "on" />

  <server-root location = "/home/cgay/trunk/libraries/network/opendylan.org"/>

  <!-- Enable fall-back to the default virtual host.  (This element seems badly named.) -->
  <default-virtual-host enabled = "yes"/>

  <!-- Index.html default doc is for the DRM.  Should really have a separate
       <directory> element for each book. -->

  <directory
      url = "/books"
      location = "/home/cgay/trunk/www/books"
      allow-directory-listing = "no"
      allow-multi-view = "yes"
      default-documents = "index.html,index.htm,Index.html"
      />

  <!-- static files for opendylan-dot-org -->
  <directory
      url = "/static"
      location = "/home/cgay/trunk/libraries/network/opendylan.org/static"
      />

  <!-- CGI scripts for opendylan.org itself.  -->
  <cgi-directory
      url = "/cgi-bin"
      location = "/usr/lib/cgi-bin"
      />

  <cgi-directory
      url = "/cgi-bin/cvszilla"
      location = "/usr/share/cvszilla/cgi-bin"
      />

  <!-- This directory is not available on Mccarthy.
       Also it was originally mapped to just /cgi-bin. -->
  <cgi-directory
      url = "/cgi-bin/viewvc"
      location = "/usr/local/viewvc-1.0.5/bin/cgi"
      extensions = "cgi"
      />

  <cgi-directory
      url = "/cgi-bin/bugzilla"
      location = "/usr/lib/cgi-bin/bugzilla"
      extensions = "cgi"
      />

  <wiki content-directory = "/home/cgay/opendylan.org/database"
        static-directory = "/home/cgay/trunk/libraries/network/wiki/www"
        site-name = "Dylan Wiki"
        site-url = "http://www.opendylan.org:8000"
        url-prefix = "/wiki"
        >
    <!-- Note that the administrator's email address will be the one
         from which account emails are sent, so it runs a high spam risk.
      -->
    <administrator username = "administrator"
                   password = "..."
                   email = "hackers@lists.opendylan.org"/>
    <authentication realm = "dylan-wiki"/>
    <mail host = "lists.opendylan.org"/>
  </wiki>
</koala>
