#buddha-menu {
	margin:12px 20px;
	FONT-SIZE: 11px; 
	LINE-HEIGHT: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        BORDER-STYLE: solid;
        BORDER-WIDTH: 1px;
	BORDER-TOP-WIDTH: 4px;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-COLOR: #0066B9;
	PADDING: 0px;
}

#buddha-title H1 {
	FONT-SIZE: 1.4em;
	FONT-WEIGHT: bold;
	PADDING: 0px 6px
}

#buddha-view { PADDING: 0px; BACKGROUND-COLOR: #0066B9; COLOR: #FFF }
#buddha-edit { PADDING: 0px; }

#buddha-view UL, #buddha-edit UL { PADDING: 4px 6px; MARGIN: 0px }

#buddha-view A:link, #buddha-view A:visited { TEXT-DECORATION: none; COLOR: #FFFFFF }
#buddha-edit A:link, #buddha-edit A:visited { TEXT-DECORATION: none; COLOR: #0066B9 }

#buddha-view A:hover { TEXT-DECORATION: underline; COLOR: #FFFFFF }
#buddha-edit A:hover { TEXT-DECORATION: underline; COLOR: #0066B9 }

#buddha-view LI, #buddha-edit LI {
	MARGIN-RIGHT: 12px;
	DISPLAY: inline;
	HEIGHT: 0
}
