/*
 * CSS definition file for Dylan Documentation
 * http://www.gwydiondylan.org/
 */

/* Highlighting theme definition: */

	/* Used abbreviations: */
	/* key:  Keywords */
	/* typ:  Types and type modifiers */
	/* str:  Strings */
	/* num:  Numbers */
	/* com:  Comments */
	/* esc:  Escape characters */
	/* dir:  Directive lines */
	/* dstr: Strings within directive lines */
	/* sym:  Symbols */
	/* line: Line numbers */

	pre	{ color:#000000; background-color:#ffffff; font-size:10pt; font-family:Courier;}
	.dlibrary	{ color: green; }
	.dmodule		{ color: green; }
	.dname		{ color: green; }
	.dlit		{ color: green; }
	.dparam		{ color: green; }

