/*
 * Much of this file was shamelessly lifted from cliki.net
 */

body 
{  
  background: white;
  color: black;
  font-family: serif;
  margin: 0; padding: 0.5em;
}

h1, h2, h3, h4, h5
{ 
  color: #999;
  font-family: sans-serif;
}

hr { border: 0; background: black; height: 1px }

a.internal { color: #0077bb ; }
a:visited.internal { color: #004488; } 
a.hyperspec { font-weight: bold; }

table { 
  border-collapse: collapse; 
  border: 1px solid #aaa; 
}

th 
{ 
  font-family: sans-serif; 
  background: royalblue;
  color: white;
  text-transform: lowercase 
}

tr {
  border-bottom: 1px solid #aaa;
}

td { 
  padding: 0.2em 0.3em; 
  border-right: 1px solid #aaa;
}

ul li { list-style-type: square }

pre
{
  background: #cdf; 
  border: 1px solid #679; 
  color: #235; 
  font-size: 90%;
  padding: 0.3em;
}

/*
 * header
 */
#header
{
  background: steelblue;
  color: white;
  border: 1px solid black;
  margin: 0;  padding: 0.5em 0.5em 1.5em; 
}
#header a.logo { 
  font-family: serif; 
  font-weight: bold; 
  font-size: 150%; 
  border-width: 0px;
  color: white;
}
#header a.logo:hover { 
  background: transparent;
}

.search
{
  float: right; 
  text-align: right;
  padding:  1em 0 0;
}
.search input { border: 1px solid black }

.login
{
  padding:  1em 0 0;
}
.login input { border: 1px solid black }

.navbar { 
  margin: 1em 0 -0.5em 0 
  color: white; 
  font-weight: normal; 
  text-decoration: none; 
  padding: 0;
}
.navbar a 
{
  color: white; 
  border: 1px solid #E5794B;
  border-width: 1px 0 1px 0;
  font-size: 90%;
  margin: 0 1em; 
  padding: 0 0.2em;
}
.navbar a:hover
{
  border: 1px solid white;
  border-width: 1px 0 1px 0;
  background: transparent;
  color: white;
  text-decoration: none;
}

.lastedit 
{
  color: #E5794B;
  float: right;
  text-align: right; 
  text-transform: lowercase;
  margin: 0; padding: 0
}

/*
 * content
 */
#content
{
  clear: both;
  margin: 0; padding: 0 1.5em;
}

#content h1 {
  color: #E5794B;
}

#content a:hover { background: #ff9 }

/*
 * footer
 */
#footer
{
  background: steelblue;
  color: white;
  border: 1px solid black;
  font-family: serif;
  margin-top: 0.5em; padding: 0.01em;
}

span.lastrevisions {
  font-size: small;
  float: right;
  margin-right: 1em;
}

a.revisionlink {
  border: none; 
  color: black; 
  margin: 0.2em 0; 
  padding: 0 0; 
  text-decoration: default;
}

#valid_xhtml {
  text-align: right;
  margin-right: 0.5em;
}
